.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
}

.active {
  color: var(--hover-border-color);
}
