@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --hover-border-color: #663399;
  --accent-color: #e6e6fa;
  --button-bg-color: rgb(102, 51, 153, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 8px 18px;

  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color);
}

button:hover,
button:focus {
  transform: scale(1.02);
  background-color: var(--accent-color);
}

ul {
  list-style: none;
}
